* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* FÄRGER #FF7B08, #088CFF */ 

html,
body {
    font-size: 16px;
/*     font-family: 'Playfair Display', serif; */
/*     font-family: 'Sacramento', cursive; */
    font-family: 'Source Sans Pro', sans-serif;
/*     font-family: 'Montserrat', sans-serif; */
    color: #fff;
    background: #3e3e3e;
    width: 100%;
    position: relative;
    overflow: visible;
    scroll-behavior: smooth;
}

body {
    display: grid;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

a {
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
}

ul,
li {
    list-style-type: none;
}

main {
    width: 100%;
}

#active {
    border-bottom: 2px solid #FF7B08;
}


/* INDEX */ 
.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, #3e3e3e, #088cff85), url(images/maxprofilepic-3602.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    z-index: 1;
}

.heading-primary {
    font-family: 'Playfair Display', serif;
    padding-bottom: 1rem;
    color: #fff;
    text-shadow: 0px 3px 2px #00000094;
}

.header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 50vh;
}

.about-text {
    width: 75%;
    margin: 0 auto;
}

.about-text>h2 {
    text-decoration: underline;
    padding-bottom: 2rem;
}

.about-text>p {
    text-align: left;
}

.about-cards_wrapper {
    position: absolute;
    margin-top: 2rem;
    z-index: 4;
    top: 32rem;
}

.about-card {
    height: auto;
    display: flex;
    align-items: center;
    padding: 5rem 1rem;
    flex-wrap: wrap;
}

.about-card div {
    padding: 0 1rem;
}

.about-card img {
    border-radius: 50%;
    box-shadow: 0rem 0.1rem 0.5rem #06060673;
}

.about-card h3, p {
    margin: 0.5rem 0;
}

.about-img {
    width: 400px;
    clip-path: circle(50% at 50% 50%);
    margin: 0 auto;
}

.about-card_text {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.about-card_text h2 {
    font-family: 'Sacramento', cursive;
    color: #088CFF;
    font-size: 4rem;
}


.timeline-prototype {
    width: 100%;
    position: relative;
    background: inherit; /* ::Before elementen måste matcha med denna färg*/
}

.tl-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
}

.tl-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
    padding: 2rem 0;
    align-items: center;
}

.tl-element:nth-child(odd) {
    text-align: right;
}
.tl-element:nth-child(even) {
    text-align: left;
}
.tl-element:nth-child(even) .tl-image {
    order: -1;
}

.tl-element-dot-1,
.tl-element-dot-2, 
.tl-element-dot-3, 
.tl-element-dot-4 {
    position: absolute;
    top: 16%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #088CFF;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 16px #3e3e3e; /* samma färg som background  */
    z-index: 3;
    transform: translate(-35%, -50%);
}

.tl-element-dot-1 {top: 16%;}
.tl-element-dot-2 {top: 38%;}
.tl-element-dot-3 {top: 62%;}
.tl-element-dot-4 {top: 86%;}

.tl-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #fff /* linjen i mitten av timelinen */;
}

.tl-element-image {
    margin: 0 auto;
    z-index: 5;
}

.tl-image {
    width: 100%;
}

.tl-image img {
    box-shadow: 0px 0.2rem 0.3rem #06060673;
    transition: transform .2s ease;
}

.tl-element:nth-child(even) .tl-image img:hover {
    transform: rotate(2deg);
}

.tl-element:nth-child(odd) .tl-image img:hover {
    transform: rotate(-2deg);
}

#packet-section {
    margin: 2rem 0;
    background: inherit;
}

.packet-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* responsivitet utan MQ's */ 
}

.packet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: 1rem;
    background: #fff;
    color: #3e3e3e;
    box-shadow: 0px 0.2rem 0.8rem #06060673;
    transition: all 0.2s ease;
}

.packet-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0.2rem 0.4rem #06060673;
    cursor: pointer;
}

.packet-img {
    width: 100%;
    margin: 0 auto;
}

.packet-text {
    padding: 1rem 0.5rem;
}

#packet-section .packet-text ul>li {
    margin-left: 1.5rem;
    list-style-type: disc;
}

.packet-text h3 {
    color: #088CFF;
}

#footer {
    position: relative;
}

.footer-wrapper {
/*     height: 20vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form {
    width: 50%;
    margin: 0 auto
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 1rem;
    border: solid 1px #ff7b08;
    margin: .5rem 0 1rem 0;
}

textarea {
    height: 200px;
}

input[type=submit] {
    background-color: #ff7b08;
    color: #fff;
    padding: .5rem 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    text-align: center;
}

.form-submit {
    margin: 0 auto;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.socials i {
    font-size: 2.5rem;
    color: #FF7B08;
    transition: transform .2s ease;
    transform-origin: center;
}

.socials i:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.socials a {
    padding: 0 .5rem;
}

.back-to-top {
    padding: 2rem 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: #fff;
    float: right;
    position: sticky;
    bottom: 0;
    text-shadow: 0px 1px 3px #000;
}


.back-to-top i {
    color: #FF7B08;
    padding: 0 1rem;
}


/* INDEX END */



/* BROWSE */ 
.ecom_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 20rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0.2rem 0.3rem #06060673;
    margin: 1rem;
    padding: 1rem 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: transform .2s ease;

}

.card:hover {
    transform: scale(1.05);

}

.card .card-name {
    font-size: 1.5rem;
}

.card .card-img {
    width: 35%;
    height: auto;
}

.card-price {
    text-align: center;
    font-size: 1.5rem;
}

.card .btn.btn--primary:hover {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px;
}

.card:hover .btn--primary {
    filter: brightness(1.1);
}

/* BROWSE END */ 



/* Buttons */
.btn:link,
.btn:visited {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s ease;
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn.btn--primary {
    background: #FF7B08;
    color: #fff;
    padding: 0.5rem 2.5rem;
    font-size: 0.8rem;
    border-radius: 25px;
}

.btn.btn--secondary {
    background: #088CFF;
    color: #fff;
    padding: 0.5rem 2.5rem;
    font-size: 0.8rem;
    border-radius: 25px;
}

.btn.btn-hero {
    background: #ff7b08;
}

.btn--disabled {
    opacity: 60%;
}


/* PROTOTYPE */ 
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem 2rem;
    background: #e0e0e0;
    color: #000;
}

.main .content {
    border-bottom: solid 1px black;
    padding: 1rem 1.5rem;
    display: grid;
    grid-gap: 1rem;
}

.main .btn {
    padding: 0.6rem 4rem;
}

.main .btn--disabled {
    opacity: 0.6;
}

.main .btn--disabled:hover {
    transform: translateY(0);
    box-shadow: 0px 0px 0px;
    cursor: default;
}

.main .btn--primary.btn--hollow {
    background: none;
    border: solid 3px #FF7B08;
    color: #FF7B08;
}

.main .btn--secondary.btn--hollow {
    background: none;
    border: solid 3px #088CFF;
    color: #088CFF;
}

.main .btn--primary.btn--hollow.btn--disabled {
    background: none;
    border: solid 3px #FF7B08;
    color: #FF7B08;
}

.main .btn--secondary.btn--hollow.btn--disabled {
    background: none;
    border: solid 3px #088CFF;
    color: #088CFF;
}

.animation {
    display: flex;
    justify-content: space-around;
}

.rotate {
    width: 150px;
    height: 150px;
    background: #FF7B08;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition-property: transform;
    transition-duration: 1s;
}

.rotate:hover {
    animation-name: rotate-1;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
}

.rotate p {
    padding-top: 35%;
    text-align: center;
}

.translate {
    width: 150px;
    height: 150px;
    background: #FF7B08;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    transition-property: transform;
    transition-duration: 1s;
}

.translate:hover {
    animation-name: translate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    cursor: pointer;
}

.translate p {
    padding-top: 35%;
    text-align: center;
}

.hovers nav {
    position: relative;
}

/* PROTOTYPE END */



/* NAVBAR */ 
#nav_bar {
    width: 100%;
    height: 3.5rem;
    z-index: 9999999;
    box-shadow: 0px 4px 8px #06060629;
    background: #3e3e3e;
    position: fixed;
    top: 0;
    
}
.hover-effect-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hover-effect-1 li:after {
    content: "";
    display: flex;
    top: 1.2rem;
    color: transparent;
    background: #FF7B08;
    width: 0;
    height: 0.2rem;
    transition: all 0.5s ease;
}

.hover-effect-1 li:hover:after {
    content: "";
    display: flex;
    top: 1.2rem;
    color: transparent;
    background: #FF7B08;
    width: 100%;
    height: 0.2rem;
}
 
 #menuToggle {
   display: block;
   position: relative;
   top:1rem;
   left: 1rem;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   -webkit-touch-callout: none;
 }
 
 #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    background: #fff;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
 }
 
 #menuToggle span:first-child {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
 }

  /* alla spans och den första eftersom dem andra två är specifikt definierade */ 
 #menuToggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #FF7B08;
 }
 
 /* mitten span */ 
 #menuToggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2) translateX(-100px);
 }
 
 /* botten span */ 
 #menuToggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 #menu {
    position: absolute;
    width: 100%;
    margin: -100px 0 0 -16px;
    padding: 3rem;
    padding-top: 125px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    background: #292929;
    box-shadow: 0px 4px 8px #3e3e3e1f;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li {
   padding: 10px 0;
   font-size: 22px;
 }
 
 #menuToggle input:checked ~ ul {
/*    transform: none; */
    transform: translate(0, 0);
 }
/* NAVBAR END */

/* GALLERY */ 
.grid-container {
    height: 700px;
    color: #000;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px 100px;
    grid-gap: 1rem;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    height: 100px;
    box-shadow: 0px 2px 6px #00000060;
    transition: all 0.2s ease;
}

.grid-item:hover {
    transform: scale(1.02);
    box-shadow: 0px 1px 12px #00000050;
}

.maps {
    display: flex;
    justify-content: center;
}

.gallery {
    width: 75%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 0 auto;
    padding-top: 8rem;
}

.gallery .gallery-items {
    transition: all 0.2s ease;
    width: 100%;
    box-shadow: 0px 4px 8px #0000002b;

}

.gallery .gallery-items:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 24px #0000002b;
}
/* GALLERY END */ 



/* Media Queries */
@media screen and (max-width: 830px) {

    .about-card_text h2 {
        text-align: center;
        font-size: 3rem;
    }

    .about-card_text {
        width: 90%;
    }

    #timeline {
        margin-top: 11rem;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 420px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .about-card {
        padding: 0; 
    }

    .tl-wrapper::after {
        display: none;
    }

    .tl-element {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        padding: 2rem 0;
        align-items: center;
    }

    .tl-element-dot-1,
    .tl-element-dot-2,
    .tl-element-dot-3,
    .tl-element-dot-4 {
        display: none;
    }

    .tl-element:nth-child(odd) {
        text-align: left;
    }

    .tl-element:nth-child(even) .tl-image {
        order: 0;
    }

    .packet-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .packet-card {
        width: 80%;
    }
}


/* Animations */
@keyframes rotate-1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes translate {
    0% {
        transform: translate3d(0, 0, 0);
    }

    10% {
        transform: translate3d(-50px, 0, 0);
    }

    20% {
        transform: translate3d(0, 0, 0);
    }

    30% {
        transform: translate3d(0, -50px, 0);
    }

    40% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(50px, 0, 0);
    }

    60% {
        transform: translate3d(0, 0, 0);
    }

    70% {
        transform: translate3d(0, 50px, 0);
    }

    80% {
        transform: translate3d(0, 0, 0);
    }

    85% {
        transform: scale(1.2);
    }

    95% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}